<div class="edge-sidenav" data-spy="affix" data-offset-top="50" data-offset-bottom="0" role="complementary">
    <ul class="nav">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li><a href="/"><i class="glyphicon glyphicon-picture"></i> Media</a></li>
        <li>
            <a href="#js-overview"><i class="glyphicon glyphicon-file"></i> Content</a>
            <ul class="nav">
                <li><a href="#js-individual-compiled">Pages</a></li>
                <li><a href="#js-data-attrs">Modules</a></li>
                <li><a href="#js-data-attrs">Schemas</a></li>
            </ul>
        </li>
        <li><a href="/"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
    </ul>

</div>
