.#{$namespace}-sidenav {
    background: #3a3633;

    .nav {
        li a {
            display: block;
            padding: 1em;
            color: #C0BBB7;

            &:hover {
                color: #3a3633;
            }

            i {
                width: 1.75em;
            }
        }

        li {
            padding: 0;
        }

        ul {
            background: rgba(69, 69, 69, 0.6);

            a {
                padding-left: 4em;
            }
        }
    }
}
